@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility side-padding {
    padding-left: max(5.6vw, calc(var(--spacing) * 5));
    padding-right: max(5.6vw, calc(var(--spacing) * 5));
}

@layer components {
    section,
    article {
        width: 100%;
        padding-left: max(5.6vw, calc(var(--spacing) * 5));
        padding-right: max(5.6vw, calc(var(--spacing) * 5));
        padding-top: max(14.6vw, calc(var(--spacing) * 32));
        padding-bottom: max(9vw, calc(var(--spacing) * 20));
    }
}
